<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>7 Lives</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-5.5/css/all.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup/magnific-popup.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-infinite-loop.css') }}" />
  <!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

</head>

<body>
  <!-- Hero section -->
  <section id="infinite" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
      <div class="container-fluid">
        <div class="tm-next">
          <a href="#infinite" class="navbar-brand"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#infinite">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#prediction">Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#whatwedo">What We Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="text-center tm-hero-text-container">
      <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title">7 Lives</h2>
        <p class="tm-hero-subtitle">
          enabling people to sell their pre-love items at the best price
        </p>
      </div>
    </div>

    <div class="tm-next tm-intro-next">
      <a href="#prediction" class="text-center tm-down-arrow-link">
        <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
      </a>
    </div>
  </section>

  <section id="prediction" class="tm-section-pad-top">
    <div class="container">
      <div class="row tm-content-box">
        <!-- first row -->
        <div class="col-lg-12 col-xl-12">
          <div class="tm-intro-text-container">
            <h2 class="tm-text-primary mb-4 tm-section-title">Price Prediction</h2>
            <p>Introduce the relevant metrics in order to predict the pice of the clothe you want to sell:</p>
            <form action="{{url_for('predict')}}" method="post">
              <input type="text" name="item" placeholder="Item" required="required" />
              <input type="text" name="brand" placeholder="Brand" required="required" />
              <input type="text" name="usage" placeholder="Usage" required="required" />
              <input type="text" name="gender" placeholder="Gender" required="required" />
              <input type="text" name="model" placeholder="Model" required="required" />
              <input type="text" name="size" placeholder="Size" required="required" />
              <input type="text" name="sale_until" placeholder="Sale within how many days?" required="required" />
              <button type="submit" class="btn btn-primary btn-block btn-large"> Predict Value!</button>
            </form>
            <br>
            <br>
            <b>{{prediction_text}}</b>
          </div>
        </div>
      </div><!-- first row -->
    </div>
  </section>

  <section id="whatwedo" class="tm-section-pad-top tm-parallax-2">
    <div class="container">
      <div class="row tm-content-box">
        <!-- first row -->
        <div class="col-lg-12 col-xl-12">
          <div class="tm-intro-text-container">
            <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
            <p class="mb-4 tm-intro-text">
              This is Infinite Loop, free Bootstrap 4.0 HTML template with a parallax effect. This layout is what you
              can modify and use for your websites. Please spread a word to your friends about our website. Thank you
              for supporting us. If you have any question, you can contact us or chat with us on our <a
                href="https://fb.com/tooplate">Tooplate Facebook page</a>.</p>
          </div>
        </div>
      </div><!-- first row -->
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="tm-section-pad-top">

    <div class="container tm-container-contact">

      <div class="row">

        <div class="text-center col-12">
          <h2 class="tm-section-title mb-4">Contact Us</h2>
          <p class="mb-5">
            Proin enim orci, tincidunt quis suscipit in, placerat nec est. Vestibulum posuere faucibus posuere. Quisque
            aliquam velit eget leo blandit egestas. Nulla id posuere felis, quis tristique nulla.
          </p><br>
        </div>

        <div class="col-sm-12 col-md-6">
          <form action="" method="get">
            <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
            <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
            <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
            <button type="submit" class="btn tm-btn-submit">Submit</button>
          </form>
        </div>

        <div class="col-sm-12 col-md-6">

          <div class="contact-item">
            <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
              <i class="far fa-2x fa-comment mr-4"></i>
              <span class="mb-0">Chat Online</span>
            </a>
          </div>

          <div class="contact-item">
            <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
              <i class="far fa-2x fa-envelope mr-4"></i>
              <span class="mb-0">mail@company.com</span>
            </a>
          </div>

          <div class="contact-item">
            <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
              <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
              <span class="mb-0">Our Location</span>
            </a>
          </div>

          <div class="contact-item">
            <a rel="nofollow" href="tel:0100200340" class="item-link">
              <i class="fas fa-2x fa-phone-square mr-4"></i>
              <span class="mb-0">255-662-5566</span>
            </a>
          </div>

          <div class="contact-item">&nbsp;</div>

        </div>


      </div><!-- row ending -->

    </div>

    <footer class="text-center small tm-footer">
      <p class="mb-0">
        Copyright &copy; 2020 Company Name

        . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">Designed by TOOPLATE</a></p>
    </footer>

  </section>

  <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>

    function getOffSet() {
      var _offset = 450;
      var windowHeight = window.innerHeight;

      if (windowHeight > 500) {
        _offset = 400;
      }
      if (windowHeight > 680) {
        _offset = 300
      }
      if (windowHeight > 830) {
        _offset = 210;
      }

      return _offset;
    }

    function setParallaxPosition($doc, multiplier, $object) {
      var offset = getOffSet();
      var from_top = $doc.scrollTop(),
        bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
      $object.css({ "background-position": bg_css });
    }

    // Parallax function
    // Adapted based on https://codepen.io/roborich/pen/wpAsm        
    var background_image_parallax = function ($object, multiplier, forceSet) {
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      // $object.css({"background-attatchment" : "fixed"});

      if (forceSet) {
        setParallaxPosition($doc, multiplier, $object);
      } else {
        $(window).scroll(function () {
          setParallaxPosition($doc, multiplier, $object);
        });
      }
    };

    var background_image_parallax_2 = function ($object, multiplier) {
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      $object.css({ "background-attachment": "fixed" });

      $(window).scroll(function () {
        if ($(window).width() > 768) {
          var firstTop = $object.offset().top,
            pos = $(window).scrollTop(),
            yPos = Math.round((multiplier * (firstTop - pos)) - 186);

          var bg_css = 'center ' + yPos + 'px';

          $object.css({ "background-position": bg_css });
        } else {
          $object.css({ "background-position": "center" });
        }
      });
    };

    $(function () {
      // Hero Section - Background Parallax
      background_image_parallax($(".tm-parallax"), 0.30, false);
      background_image_parallax_2($("#contact"), 0.80);

      // Handle window resize
      window.addEventListener('resize', function () {
        background_image_parallax($(".tm-parallax"), 0.30, true);
      }, true);

      // Close mobile menu after click 
      $('#tmNav a').on('click', function () {
        $('.navbar-collapse').removeClass('show');
      })

      // Scroll to corresponding section with animation
      $('#tmNav').singlePageNav({
        'easing': 'easeInOutExpo',
        'speed': 600
      });

      // Add smooth scrolling to all links
      // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
      $("a").on('click', function (event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 600, 'easeInOutExpo', function () {
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
</body>

</html>