<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>7 Lives</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-5.5/css/all.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup/magnific-popup.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-infinite-loop.css') }}" />
  <!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

</head>

<body>
  <!-- Hero section -->
  <section id="infinite" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
      <div class="container-fluid">
        <div class="tm-next">
          <a href="#infinite" class="navbar-brand"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#infinite">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#prediction">Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#whatwedo">What We Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="text-center tm-hero-text-container">
      <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title">7 Lives</h2>
        <p class="tm-hero-subtitle">
          enabling people to sell their pre-loved items at the best price
        </p>
      </div>
    </div>

    <div class="tm-next tm-intro-next">
      <a href="#prediction" class="text-center tm-down-arrow-link">
        <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
      </a>
    </div>
  </section>

  <section id="prediction">
    <div class="container">
      <div class="row tm-content-box">
        <!-- first row -->
        <div class="col-lg-12 col-xl-12">
          <div class="tm-intro-text-container">
            <h2 class="tm-text-primary mb-4 tm-section-title">Price Prediction</h2>
            <p>Based on your preferences on how fast you want to sell your items, 7Lives gives you actionable price
              recommendations. Our technology takes the key attributes of your items, such as brand, model, usage and
              many more into account and helps you make a good sell!
            </p>
            <form action="{{url_for('predict')}}" method="post" class="form-prediction">

              <div class="container-fluid container-prediction-input">
                <div class="row">
                  <div class="col"><input type="text" name="item" placeholder="Item" required="required" /></div>
                  <div class="col"><select name="brand">{% for key, value in brands.items() %}
                      <option value="{{value}}">{{key}}</option>
                      {% endfor %}
                    </select></div>
                </div>
                <div class="row">
                  <div class="col"><select name="usage">{% for key, value in usage.items() %}
                      <option value="{{value}}">{{key}}</option>
                      {% endfor %}
                    </select></div>
                  <div class="col"><select name="gender">{% for key, value in gender.items() %}
                      <option value="{{value}}">{{key}}</option>
                      {% endfor %}
                    </select></div>
                </div>
                <div class="row">
                  <div class="col"><input type="text" name="model" placeholder="Model" /></div>
                  <div class="col"><input type="text" name="size" placeholder="Size" required="required" /></div>
                </div>
                <div class="row">
                  <div class="col-xl-6"><input type="text" name="sale_until" placeholder="Sale within how many days?"
                      required="required" /></div>
                </div>
              </div>
              <button type="submit" class="btn tm-btn-submit"> Predict Value!</button>
            </form>
            <b>{{prediction_text}}</b>
          </div>
        </div>
      </div><!-- first row -->
    </div>
  </section>

  <div class="container-separator">
    <hr class="hr-separator" />
  </div>

  <section id="whatwedo" class="tm-parallax-2">
    <div class="container">
      <div class="row tm-content-box py-5">
        <!-- first row -->
        <div class="col-lg-12 col-xl-12">
          <div class="tm-intro-text-container">
            <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
            <p class="mb-4 tm-intro-text">
              7Lives enables consumers to live a more circular lifestyle. We help you to identify the best selling
              price for your pre-loved items. No more guesswork, no more selling below market value. Our cutting-edge
              technology is constantly processing vast amounts of data to give you actionable price recommendations
              based on just a few simple attributes. Give your pre-loved items another life with 7Lives!</p>
          </div>
        </div>
      </div><!-- first row -->
    </div>
  </section>

  <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
    var scroll = JSON.parse('{{scroll | tojson | safe}}');
    if (scroll === "prediction") {
      document.location.hash = '#prediction';
    }
    function getOffSet() {
      var _offset = 450;
      var windowHeight = window.innerHeight;

      if (windowHeight > 500) {
        _offset = 400;
      }
      if (windowHeight > 680) {
        _offset = 300
      }
      if (windowHeight > 830) {
        _offset = 210;
      }

      return _offset;
    }

    function setParallaxPosition($doc, multiplier, $object) {
      var offset = getOffSet();
      var from_top = $doc.scrollTop(),
        bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
      $object.css({ "background-position": bg_css });
    }

    // Parallax function
    // Adapted based on https://codepen.io/roborich/pen/wpAsm        
    var background_image_parallax = function ($object, multiplier, forceSet) {
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      // $object.css({"background-attatchment" : "fixed"});

      if (forceSet) {
        setParallaxPosition($doc, multiplier, $object);
      } else {
        $(window).scroll(function () {
          setParallaxPosition($doc, multiplier, $object);
        });
      }
    };

    var background_image_parallax_2 = function ($object, multiplier) {
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      $object.css({ "background-attachment": "fixed" });

      $(window).scroll(function () {
        if ($(window).width() > 768) {
          var firstTop = $object.offset().top,
            pos = $(window).scrollTop(),
            yPos = Math.round((multiplier * (firstTop - pos)) - 186);

          var bg_css = 'center ' + yPos + 'px';

          $object.css({ "background-position": bg_css });
        } else {
          $object.css({ "background-position": "center" });
        }
      });
    };

    $(function () {
      // Hero Section - Background Parallax
      background_image_parallax($(".tm-parallax"), 0.30, false);
      background_image_parallax_2($("#contact"), 0.80);

      // Handle window resize
      window.addEventListener('resize', function () {
        background_image_parallax($(".tm-parallax"), 0.30, true);
      }, true);

      // Close mobile menu after click 
      $('#tmNav a').on('click', function () {
        $('.navbar-collapse').removeClass('show');
      })

      // Scroll to corresponding section with animation
      $('#tmNav').singlePageNav({
        'easing': 'easeInOutExpo',
        'speed': 600
      });

      // Add smooth scrolling to all links
      // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
      $("a").on('click', function (event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 600, 'easeInOutExpo', function () {
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
</body>

</html>